:root {
    --base-color: hsla(210, 86%, 36%, 0.822);
    --base-font-color:goldenrod;

}

.heading {
    color: var(--base-font-color);
    background-color: var(--base-color, red);
    text-align:center;
    padding: 2rem;

}

.mylinks {
    display: inline-block;
    color: var(--base-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    text-decoration: none;
    font-weight:700;
    padding: 10px;
    padding-right:20px;
    padding-left:20px;
    margin-right: 15px;
    border: 1px solid;
    border-color:#ccc;
    transition:all, 1s;
   
}

.linkcontainer {
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding-right: 10px;
    list-style-type: none;
    
}

.mylinks:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition-timing-function: ease-out;
    color: var(--base-font-color);
    background-color: var(--base-color);
    
}

li {
    margin-right: 1rem;
    transition:all, 0.5s;

}

li:hover {
    transform:translate(3px, -4px);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}

.bodytext {
padding:1rem;
transition: all, 1s;
}

.bodytext:hover {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    color:white;
    background-color: var(--base-color)
}

.copyright {
    background-color: lightblue;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align:center;
    position: absolute;
    bottom: 2px;
    border-top: 3px solid blue;  
}