:root {
    --base-color: hsla(0, 86%, 36%, 0.822);
    --base-font-color:var(--base-font-color)
}
.heading {
    background-color: var(--base-color, red);
    text-align:center;
    padding: 2rem;


}
.mylinks {
    text-align: center;
    text-decoration: none;
    float: left;
    padding-left: 30px;
    margin-bottom: 2rem;
    
    

}
ul {
    list-style-type: none;
}
.copyright {
    text-align: center;
    bottom: 0px;
    
}
.bodytext {
}