:root {
    --base-color: hsla(0, 86%, 36%, 0.822);
    --base-font-color:var(--base-font-color)
}

.heading {
    background-color: var(--base-color, red);
    text-align:center;
    padding: 2rem;


}

.mylinks {
    text-align: center;
    text-decoration: none;  
    

}

li {
    margin-right: 1rem;
    display: inline-block;
}

.copyright {
    width: 100%;
    text-align:center;
    position: absolute;
    bottom: 2px;
    
}